{
  "plugins": [
    "add-module-exports",
    "transform-es2015-modules-commonjs",
    "transform-es2015-destructuring",
    "transform-object-rest-spread",
	["transform-react-jsx", { "pragma": "h" }]
  ]
}
