# Generated
.idea
lib

# Dependency directories
node_modules
jspm_packages

# Other
.npm
.node_repl_history
coverage
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
.nyc_output
.grunt
.lock-wscript
